@model int

<td>@Html.ActionLink("Update", "Update", null, new { id = Model }, new { @class = "btn btn-primary" }) </td>
<td>@Html.ActionLink("Delete", "Delete", null, new { id = Model }, new { @class = "btn btn-danger" }) </td>